@import '_vars';
@import 'components/_content';
@import 'components/_contact';
@import 'components/_header';
@import 'components/_video';
@import 'components/_jak';

.hidden
{
	display: none;
}

body {
    color: black;
    background-color: grey;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}

h2, h3, h4, h5{
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif
}
