	<header id="mainHeader">
        <nav id="mainNav">
		<h2 class="hidden">Main Navigation</h2>
		<button id="button"><img class="hamburgerMenuButton" src="/images/hamburger_menu.svg" alt="hamburger menu button"></button>
		<div id="burgerCon">
			<ul id="burgerMenu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</nav>
    </header>