    <header id="mainHeader">
		<div  id="mainLogo"><img src="/images/logo.svg" height="200px" width="200px"></div>
        <nav id="mainNav">
		<h2 class="hidden">Main Navigation</h2>
		<button id="button"><img class="hamburgerMenuButton" src="/images/hamburger_menu.svg" alt="hamburger menu button"></button>
		<div id="burgerCon">
			<ul id="burgerMenu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</nav>
</header>

<video src="{{ URL }}" class="main_video" autoplay controls>
    Error
</video>

<div class="content">
	<h2>Meet The New Smart Home</h2>
	<h3>This new, innovative system has AI capabilities that don't exist anywhere on the market today. This is the smartest, slickest, most secure system you can buy; not only are we the best, we are THE smart home.</h3>
	<img>
</div>

<div class="content">
	<h2>Come Home To A Warm House</h2>
	<h3>We understand that you are very busy, and sometimes being busy can result in forgetful mornings. Don't worry! Before you get home, you can set the temperature from your phone, computer, or even smart watch!</h3>
	<img>
</div>

<div class="content">
	<h2>Your Safety Is In Our Hands</h2>
	<h3>We know that keeping your family safe is your number one priority. We have a proprietary technology to make sure there are no mistakes in our security surveillance. Keep an eye on your pets through your phone, get sensor notifications, or leave it up to us! We will dial 911 when there is a suspected break-in.</h3>
	<img>
</div>

<div class="content">
	<h2>Meet JAK</h2>
	<h3>The smartest AI on the market.</h3>
	<video></video>>
</div>

<div class="content">
	<h2>Where To Buy</h2>
	<img>
	<img>
	<img>
</div>

<footer id="mainFooter">
	<img>
	<ul>
		<li>137, Dundass Street</li>
		<li>London, Ontario</li>
		<li>+1 (111) 222 3344</li>
	</ul>
	<nav>
		<ul>
			<li>Home</li>
			<li>About Us</li>
			<li>Contact</li>
			<li>Site Map</li>
		</ul>
	</nav>
</footer>
