.content
{
    text-align: center;
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.content div 
{
	display: flex;
	flex-direction: column;
}

.content img
{
	margin: 0 auto;
}

.content img {
    width: 50%;
}